<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaobai.mall.pms.mapper.TbItemCatMapper" >
    <sql id="Base_Column_List">
    id, parent_id, name, status, sort_order, is_parent, created, updated, icon, remark
  </sql>
    <insert id="insertTbItemCat" parameterType="com.xiaobai.mall.pms.entity.TbItemCat">
        insert into tb_item_cat (id, parent_id, name,
      status, sort_order, is_parent,
      created, updated, icon,
      remark)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, #{isParent,jdbcType=BIT},
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{icon,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.xiaobai.mall.pms.entity.TbItemCat">
        update tb_item_cat
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="isParent != null">
                is_parent = #{isParent,jdbcType=BIT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteByPrimaryKey">
        delete from tb_item_cat
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="getItemCatList" resultType="com.xiaobai.mall.pms.entity.TbItemCat">
        select * from tb_item_cat where parent_id=#{parentId};
    </select>
    <select id="selectByPrimaryKey" resultType="com.xiaobai.mall.pms.entity.TbItemCat">
        select
        <include refid="Base_Column_List" />
        from tb_item_cat
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>