<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaobai.mall.pms.mapper.TbItemMapper" >
    <insert id="insertItem" parameterType="com.xiaobai.mall.pms.entity.TbItem">
    insert into tb_item (id, title, sell_point,
      price, num, limit_num,
      image, cid, status,
      created, updated)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{sellPoint,jdbcType=VARCHAR},
      #{price,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, #{limitNum,jdbcType=INTEGER},
      #{image,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateTbItemStatus">
        update tb_item set status = #{param2} where id = #{param1};
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaobai.mall.pms.entity.TbItem">
        update tb_item
        set title = #{title,jdbcType=VARCHAR},
          sell_point = #{sellPoint,jdbcType=VARCHAR},
          price = #{price,jdbcType=BIGINT},
          num = #{num,jdbcType=INTEGER},
          limit_num = #{limitNum,jdbcType=INTEGER},
          image = #{image,jdbcType=VARCHAR},
          cid = #{cid,jdbcType=BIGINT},
          status = #{status,jdbcType=TINYINT},
          created = #{created,jdbcType=TIMESTAMP},
          updated = #{updated,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
  </update>
    <delete id="deleteItem">
        delete from tb_item where id = #{id};
    </delete>


    <select id="queryTbItemCount" resultType="java.lang.Integer">
        select count(*) from tb_item;
    </select>
    <select id="selectItemByCondition" resultType="com.xiaobai.mall.pms.entity.TbItem">
        SELECT * FROM tb_item
        WHERE (title LIKE #{search}
        OR
        sell_point LIKE #{search}
        OR
        price LIKE #{search}
        OR
        id LIKE #{search})
        <if test="cid != -1">
            AND cid = #{cid}
        </if>
        ORDER BY
        ${orderColumn}
        ${orderDir}
    </select>
    <select id="selectItemByMultiCondition" resultType="com.xiaobai.mall.pms.entity.TbItem">
        SELECT * FROM tb_item
        WHERE (title LIKE #{search}
        OR
        sell_point LIKE #{search}
        OR
        price LIKE #{search})
        <if test="cid != -1">
            AND cid = #{cid}
        </if>
        <if test="minDate != null and minDate != '' and maxDate != null and maxDate != ''">
            AND created BETWEEN #{minDate} AND #{maxDate}
        </if>
        ORDER BY
        ${orderColumn}
        ${orderDir}
    </select>
    <select id="selectItemById" resultType="com.xiaobai.mall.pms.entity.TbItem">
        select * from tb_item where id=#{id};
    </select>
</mapper>